
body{
    background-color: #292727;
    background-size: cover;
}

/* ACCUEIL*/
.display-3, .lead{
    font-size: 5em;
    display: line-height;
}

video { 
  object-fit: cover;
  background-size: cover;
  max-width: 100%;
  height: auto;
}


@media screen and (max-width: 900px ){
    .display-3, .lead{
        font-size: 3em;
    }
}

@media screen and (max-width: 400px ){
    .display-3, .lead{
        font-size: 2em;
    }

}


/*NAVBAR + MEDIA QUERRIES*/

/*NAVBAR + MEDIA QUERRIES*/

@media screen and (max-width: 901px){
    .navbar-toggler{
        margin-right:1em;
    }

    @media screen and (max-width: 851px){
        .navbar-toggler{
            margin-right:1.5em;
        }
        @media screen and (max-width: 801px){
        .navbar-toggler{
            margin-right:0.5em;
        }
            @media screen and (max-width: 768px){
            .navbar-toggler{
                margin-right: 0.5em;
            }
                @media screen and (max-width: 761px){
                .navbar-toggler{
                    margin-right:0.5em;
                }
                    @media screen and (max-width: 652px){
                .navbar-toggler{
                    margin-right:0.5em;
                }
                    @media screen and (max-width: 611px){
                .navbar-toggler{
                    margin-right:0.5em;
                }
                        @media screen and (max-width: 575px){
                        .navbar-toggler{
                            margin-right:0.5em;
                        }
                            @media screen and (max-width: 440px){
                                .navbar-toggler{
                                    margin-right:0.5em;
                                }
                                    
                            }
                        }
                    }
                }
            }
        }
    }
}
}


@media screen and (min-width: 1305px) {
    .navbar-collapse {
          float: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          touch-action: none;
    }
  
  .nav-item{
    padding-left:10px;
    padding-right:10px;
  }
}


@media screen and (min-width: 1100px) {
      .navbar-collapse {
          float: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
    }
  
  .nav-item{
    padding-left:10px;
    padding-right:10px;
    text-align:center;
    
  }
}

/* SECTION PRESENTATION */
#presentation{
    background-image: url('../images/fond01.jpg'); 
    background-size: cover;
}
.presHerv{
    margin-top:7em;
    margin-bottom :5em;  
    background-color:rgba(238, 234,234, 0.5);
    width:10em;
    height:auto;
    border-radius: 7px; 
}
.presHerv>h2{
    margin-top: 1em;
}
.presHerv > p{
    font-size: 1.5em;
}
#photoProfil{
    margin-top: 2em;
    border-radius: 5%;
}

/* SECTION COMPETENCES */
#competences{
    background-image: url("../images/fond02.jpg");
    background-size: cover;  
}
#competences> h1{
    color:rgb(238, 234, 234);
}
.compHerv{
    padding-top:2em;
    margin-top:7em;
    margin-bottom :8em;
    background-color:rgba(238, 234,234, 0.5);
    width:auto;
    height:auto;
    border-radius: 7px;
}

.compHerv > img{
    width:300px;
}

@media screen and (max-width: 990px){
    .compHerv > img{
        width:200px;
    } 
}

/* SECTION PROJET */

#projets{
    background-image: url('../images/fond03.jpg'); 
    background-size: cover; 
}

.projHerv{
    padding-top:2em;
    padding-bottom: 2em;
    margin-top:7em;
    margin-bottom :8em;
    background-color:rgba(238, 234,234, 0.5);
    width:auto;
    height:auto;
    border-radius: 7px;
}

img{
    margin-bottom: 1rem;
}

#projets> h1{
    color:rgb(238, 234, 234);
}

/* SECTION FORMATION */
#formation{
    background-image: url("../images/fond04.jpg");
    height: auto;
    background-size: cover;   
    margin:0; 
}

.formHerv{
    padding-top:2em;
    margin-top:3em;
    background-color:rgba(238, 234,234, 0.5);
    width:10em;
    height:auto;
    border-radius: 7px;
}
#formation >div > h1{
    color:rgb(238, 234, 234);
}
/* FIN DE SECTION FORMATION */

/* SECTION EXPERIENCE */

#experience{
    background-image: url("../images/fond05.jpg");
    height: auto;
    background-size: cover;   
    margin:0; 
}

#experience > h1{
    color:rgb(238, 234, 234);
}

.expHerv{
    padding-top:1em;
    padding-bottom: 1em;
    margin-top:3em;
    background-color:rgba(238, 234,234, 0.5);
    height:auto;
    border-radius: 7px;
    width:30em;
}

/* FIN DE SECTION EXPERIENCE */

/* SECTION FORMULAIRE */
#formulaire{
    background-image: url("../images/fond06.jpg");
    background-size: cover; 
    padding:2em;  
   
}

.formuHerv{
    padding-top:2em;
    margin-top:3em;
    margin-left:2em;
    background-color:rgba(238, 234,234, 0.5);
    width:auto;
    height:30em;
    border-radius: 7px;
}
.champ{
    width:80%;
}
textarea{
    width:80%;
}

#formulaireOK{
    background-image: url("../images/fond06.jpg");
   background-size: cover;   
   
}   

/* FIN DE SECTION FORMULAIRE */

@media screen and (max-width:768px){
    .presHerv{
        margin-top:1em;
        margin-bottom :1em; 
}
.compHerv{
    padding-top:1em;
    margin-top:1em;
    margin-bottom :1em;
    background-color:rgba(238, 234,234, 0.5);
    width:auto;
    height:auto;
    border-radius: 7px;
}
.formHerv{
    width:auto;
    height :auto;
    margin-left:auto;
    margin-right: auto;
}
}